.card {
  background-color: beige;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#currentLocation {
  background-color: rgba(179, 243, 163, 0.842);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.375rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.temperature {
  font-weight: bold;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.time {
  font-weight: lighter;
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.forecast {
  display: inline;
  border-radius: 10px;
  background: rgb(226, 226, 142);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
.row {
  font-size: 8px;
  font-style: italic;
}
.firstday {
  position: relative;
  left: 8px;
}
.secondday {
  position: relative;
  left: 60px;
}
.thirdday {
  position: relative;
  left: 120px;
}
.forthday {
  position: relative;
  left: 180px;
}
.fifthday {
  position: relative;
  left: 230px;
}
